.video-embed-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  /* width: 100%;
  max-width: 110vh;     max width matching previous fixed size */
  aspect-ratio: 11 / 6; 
  position: relative;
}

.video-embed-frame {
  border-radius: 16px;
  box-shadow: 0 2px 18px #ccc;
  width: 170vh;
  height: 90vh;
  
}

